name: Run Tests
on: 
  push:
    branches: []

  workflow_dispatch:


jobs: 
  run-tests:
   name: python
   runs-on: ubuntu-latest

   steps:
    - uses: actions/checkout@v6

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install Project
      run: uv sync --locked --all-extras --dev

    - name: Run test
      run: uv run pytest tests

    - name: Let me know this worked
      run: echo "yeah it did lol"


